.register-form{
    width: 50%;
    margin: 0 auto;
}
.register-form input{
    display: block;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    /* margin-bottom: 10px; */
    
}